.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background-color: rgb(3, 51, 51);
}

.kanan{
    margin-left: 250px;
}
.profil{
    text-align: center;
    border-bottom: 1px solid white;
    margin: 20px 5px 5px;
    padding-bottom: 10px;
}

.profil img{
    border-radius: 50%;
}

.menu{
    padding: 0 5px;
}

.menu ul li.menu-item{
    border-radius: 10px;
    cursor: pointer;
}

.menu ul li.menu-item a{
    display: block;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu ul li.menu-item:hover{
    background-color: #ababab;
}

.menu ul li.menu-item:hover a{
    color: black;
}

.menu ul li.menu-item:hover a i{
    color: black;
}

.status.bar{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 2px solid #fff;
    padding: 5px;
    box-sizing: border-box;
}