*{
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    background-image: url('bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}