body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#3c696f, #4d8b8d);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    width: 100%;
    background: #251375;
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.card-container {
    margin-top: 30px;
    width: 500px;
    height: 430px;
}

.student-card {
    width: 500px;
    height: 330px;
    background: #cf7398;
    padding: 20px;
    border-radius: 15px;
    color: black;
    border: 4px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logo-left, 
.logo-right {
    width: 50px;
}

.text-header {
    flex: 1;
    text-align: center;
    padding: 0 10px;
}

.text-header h3 {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}

.text-header h4 {
    margin: 3px 0 0;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;      
}


.card-title {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.name {
    font-size: 16px;
    margin: 2px 0;
    font-weight: bold;
}

.major, .nim {
    font-size: 13px;
    margin: 2px 0;
    font-weight: bold;
}

.qr-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.qr {
    width: 115px;
}

.photo {
    width: 130px;
    border-radius: 10px;
}

.motto {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}