body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#3c696f, #4d8b8d);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    width: 100%;
    background: #251375;
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.card-container {
    margin-top: 30px;
    width: 500px;
    height: 430px;
}

.student-card {
    width: 330px;
    background: #cf7398;
    padding: 20px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 500px;
    height: 430px;
    border: 4px solid #ffffff;
    background-image: linear-gradient(to top, #cf7398, #cf7398);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.logo-left, .logo-right {
    width: 50px;
}

.title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.address {
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
}

.card-title {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0 0;
}

.major, .nim {
    font-size: 14px;
    margin: 3px 0;
}

.qr-photo {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.qr {
    width: 110px;
}

.photo {
    width: 120px;
    border-radius: 10px;
}

.motto {
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}